include LICENSE README.md README.en.md CHANGELOG.md
recursive-include src/snappaste/static *.html *.css *.js *.mjs
recursive-include docs *.md *.png
recursive-include tests *.py
include .github/workflows/ci.yml
